RewriteEngine On

# Impede que pastas sejam listadas caso não tenham um index
Options -Indexes

# Se o que foi digitado na URL for um ficheiro ou diretório real (ex: CSS, JS, imagens), não faz nada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Caso contrário, pega tudo o que vier após a BASE_URL e envia de forma invisível para o index.php?rota=
RewriteRule ^(.*)$ index.php?rota=$1 [QSA,L]